/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/

.project-layout {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
}

.project-group {
  flex: 1;
  min-width: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  padding-left: 0.5em;

  h2 { margin-bottom: 0.75rem; }
}

.project-group-development {
  border-left: 5px solid rgb(88, 187, 88);
}

.project-group-maintenance {
  border-left: 5px solid rgb(122, 122, 230);
}

.project-group-finished {
  border-left: 5px solid rgb(168, 85, 188);
}

.project-tile {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--cd);
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 1rem;
}

.project-dates {
  opacity: 0.8;
}

.project-desc {

}
