/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/

.project-layout {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
}

.project-group {
  flex: 1;
  min-width: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  padding-left: 0.5em;

  h2 { margin-bottom: 0.75rem; }
}

.project-group-development {
  border-left: 5px solid rgb(88, 187, 88);
}

.project-group-maintenance {
  border-left: 5px solid rgb(135, 135, 242);
}

.project-group-finished {
  border-left: 5px solid rgb(193, 99, 216);
}

.project-tile {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--cd);
  border-radius: 4px;
  text-decoration: none;
  margin-bottom: 1rem;

  > a {
    font-size: 1.3em;
  }
}

.project-dates {
  opacity: 0.8;
}

.markdown-alert {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border-left: 4px solid;
  border-radius: 4px;
  background: var(--c2);

  > :last-child {
    margin-bottom: 0;
  }
}

.markdown-alert-title {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: bold;

  svg {
    flex-shrink: 0;
  }
}

.markdown-alert-important {
  border-left-color: rgb(149, 88, 216);

  .markdown-alert-title {
    color: rgb(149, 88, 216);
  }
}

.markdown-alert-note {
  border-left-color: rgb(88, 149, 216);

  .markdown-alert-title {
    color: rgb(88, 149, 216);
  }
}

.img-scale-50 {
  width: 50%;
  height: auto;
}
