name: Check
on:
  pull_request:
    branches:
      - main
jobs:
  check:
    name: Check code
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: 'Get Zola'
      run: wget "github.com/getzola/zola/releases/download/v0.22.1/zola-v0.22.1-x86_64-unknown-linux-gnu.tar.gz"
      
    - name: 'Extract zola'
      run: tar xzf zola-v0.22.1-x86_64-unknown-linux-gnu.tar.gz

    - name: 'Build site'
      run: ./zola build